In [25]:
from pycaret.regression import setup, compare_models, create_model, tune_model, plot_model, interpret_model, predict_model, ensemble_model, blend_models, finalize_model
import pandas as pd

data = pd.read_csv("../data/train.csv")

reg1 = setup(data, target = 'SalePrice', normalize=True, remove_outliers=True, outliers_threshold=0.2, feature_selection=True, numeric_features=["OverallCond", "OverallQual", "GarageCars"])

In [26]:
best_models = compare_models(fold=3, n_select=5)

In [27]:
blend = blend_models(estimator_list = best_models)

In [29]:
tuned_blend = tune_model(blend, n_iter=50, optimize = 'MAE')

In [15]:
final_model = finalize_model(tuned_blend)

In [30]:
test_data = pd.read_csv("../data/test.csv")
predict_new = predict_model(tuned_blend, data=test_data)
predict_new.head()
submission_df = predict_new[['Id', 'Label']]
submission_df.rename(columns={'Label': 'SalePrice'}, inplace=True)
submission_df.to_csv('submission.csv', index=False)